<div class="jumbotron">
    <h1>Homepage</h1>
    <p>asdf</p>
    <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary'%>
</div>
